:root {
  /* color */
  /* 보통 CSS에서는 색깔을 여기에 한 번에 정의한다. */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  display: flex;
}

